body{
    font-family: 'Roboto Mono', monospace;
    background-color: #211A1E;
}
h1{
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    color: #F8FFE5;
}
h2{
    text-align: center;
}
.adicionarFilme{
    width: 70%;
    margin: 1.5em 15%;
    border: solid 5px #e9ecef;
    color: #F8FFE5;
    text-transform: capitalize;
}
.filmesParaAssistir{
    width: 45%;
    margin: 1.5em 2.5%;
    float: left;
    color: #F8FFE5;
    text-transform: capitalize;
    border: solid 5px #e9ecef;
}
.filmesAssistidos{
    width: 45%;
    color: #F8FFE5;
    text-transform: capitalize;
    margin: 1.5em 2.5%;
    float: right;
    border: solid 5px #e9ecef;
}
.camposDosFormularios{
    margin: 1em;
}
.tabela{
    text-align: center;
}
 .nomeDoFilme{
    color: #e9ecef;
    margin: 0 5em;
}
.formNomeDoFilme{
    border: solid 5px #e9ecef;
    width: 40%;
    margin: 1em 30%;
}
.text-centro{
    text-align: center;
}